<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wrapname-resign.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>202DC440E8F891172571BC8DFDD2F44AEA60980C</string>
				<key>dateExpires</key>
				<string>2022/2/28</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q226EAUD33.com.zhengren.wrapnameRresign</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Q226EAUD33</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Q226EAUD33.com.zhengren.wrapnameRresign</string>
				</array>
			</dict>
			<key>name</key>
			<string>wrapname-resign.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1ebae176-7760-44a1-ba71-ce7a0822588c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zhengren.wrapnameRresign</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q226EAUD33</string>
				<key>name</key>
				<string>Henan Zhengren Education Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
